{% extends "base.html" %}
{% block content %}

	
<p class="codepen_para"> Thanks for checking out my page! On my <a href="/">Stage 5 Notes</a> page you will see only Stage 5 notes.  Below you can check out my CodePen page which has all my notes! Please feel free to click on the tabs below (HTML, CSS, and Results) to see the actual codes. I will be the first to admit that my CodePen does look much better than this website shows. Yes I know it is solely because I am VERY new to all this Intro Programming "STUFF"!!!!!</p>

<div class="cp_embed">
	<iframe height="500" width="1000px" scrolling="no" allowfullscreen="true" src="http://codepen.io/brendadarling/embed/yNYXNd/?height=500&amp;theme-id=0&amp;default-tab=result"></iframe>
</div>

{% endblock %}