{% extends "base.html" %}

  
{% block content %} 
  
 
  <div class="lesson">
        <h2 id="links"> Extra Links</h2>
        <div class="concept">
          <div class="concept-title">
            Extra Links
          </div>
          <ul>
          <p>
            <b>Extra links for your enjoyment!</b><br />
            <br>
            <a href="https://www.udacity.com/nanodegree">Link to the Nano Dgree Program</a>
            <br>
            <a href="http://scratchpad.io/hateful-cherries-8814">Scratchpad</a>
            <br>
            <a href="http://codepen.io/">Codepen</a>
            <br>
            <a href="http://www.wdyl.com/#">Profanity Editor</a>
            <br>
            <a href="https://s3.amazonaws.com/udacity-hosted-downloads/ud036/How+to+install+Twilio+on+Windows.pdf">Twilio</a>
            <br>
            <a href="https://www.python.org/downloads/">Python</a>
            <br>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">OOP</a>
            <br>
            <a href="https://docs.python.org/3/library/">Python Standard Library</a>
            <br>
            <a href="https://docs.python.org/2/tutorial/classes.html#class-and-instance-variables">Class and Instance Variables</a>
            <br>
            <a href="https://docs.python.org/2/tutorial/classes.html">Classes</a>
            <br>
            <a href="https://www.udacity.com/course/viewer/#!/c-nd000/l-4185678656/m-1013629057">Movie Website</a>
            <br>
            <a href="https://docs.python.org/2/glossary.html#term-function">Functions</a><br>
            <a href="https://cloud.google.com/appengine/docs">GOOGLE Cloud Platform</a><br>
            <a href="https://docs.python.org/2/library/json.html">JSON Library</a>
            <br>
            <a href="https://en.wikipedia.org/wiki/Responsive_web_design">Responsive Web Design</a><br>
            <a href="https://www.udacity.com/course/responsive-web-design-fundamentals--ud893">Responsive Web Design Fundamentals</a><br>
            <a href="https://en.wikipedia.org/wiki/Relational_database">Relational Databases</a><br>
            <a href="https://www.udacity.com/course/intro-to-relational-databases--ud197">Relational Databases Udacity Course</a><br>
            <a href="https://www.udacity.com/course/intro-to-ios-app-development-with-swift--ud585">IOS App Developement</a><br>
            <a href="https://en.wikipedia.org/wiki/Relational_database">Advanced Python</a><br>
          </p>
      </ul>
       <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
  </a>
        </div>

 
{% endblock %} 
